<div class="container-lg">
    <div class="row mt-3 mb-3">
        <div class="col-12">
            <h3>Detalles</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <div class="cover">
                <img src="/assets/cover.jpg" alt="">
            </div>
        </div>
        <div class="col-12 col-md-5">
            <h4>Harry Poter y el titulo del libro va aqui</h4>
            <p class="text-muted">Plinio Mejia <span><em>2008</em></span></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ad, eos ipsa sit fugit aut numquam et dignissimos perferendis repellat.</p>
            <hr>
            <div class="">
                <button class="btn btn-sm btn-secondary" routerLink="/editar">Editar <i class="bi bi-pencil"></i></button>
                <button class="btn btn-sm btn-danger ms-2">Eliminar <i class="bi bi-x-lg"></i></button>
            </div>
        </div>
    </div>
</div>