<div class="container-lg">
    <div class="row mt-3 mb-3">
        <div class="col-12">
            <h3>Editar</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <form action="">
                <div class="form-group mb-3">
                    <label for="">Titulo</label>
                    <input type="text" class="form-control" placeholder="Harry Poter y el titulo del libro va aqui">
                </div>
                <div class="form-group mb-3">
                    <label for="">Autor</label>
                    <input type="text" class="form-control" placeholder="Plinio Mejia">
                </div>
                <div class="form-group mb-3">
                    <label for="">Año</label>
                    <input type="number" class="form-control" placeholder="2008">
                </div>
                <br>
                <div class="form-group mb-3">
                    <label for="">Descripcion</label>
                    <textarea class="form-control" placeholder=" Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ad, eos ipsa sit fugit aut numquam et dignissimos perferendis repellat. "></textarea>
                </div>
                <div class="form-group mb-3">
                    <label>Foto de portada</label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="subirImagen" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <!-- <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button> -->
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>